<main>
  <section class="py-5 text-center container">
    <h1 class="h1 mb-5 fw-normal"><%= "#{@user.nickname}さんの投稿"%></h1>
  </section>
  <%= render partial: "posts/post", locals: { collection: @post } %>
  <div class="d-flex justify-content-center mt-3">
    <%= paginate @posts %>
  </div>
</main>