<main>
  <section class="py-5 text-center container">
    <%= render partial: "welcome" %>
    <div class="fs-5 mt-3">
      <% if params[:tag_id].present? %>
        <% tag = Tag.find_by(id: params[:tag_id]) %>
        <span>
          # <%= tag.tag_name %> の投稿一覧
        </span>
      <% end %>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <%= render partial: "post", locals: { collection: @post } %>
      </div>
    </div>
  </div>
</main>