<main class="container-sm w-75 p-3 text-center" style="max-width:800px">
  <h1 class="h1 mb-3 fw-normal">New Spot</h1>
  <%= render partial: "form", locals: { url: posts_path, method: :post } %>
</main>