<main class="container-sm w-75 p-3">
  <h1 class="h1 mb-3 fw-normal text-center">Category List</h1>

  <ul class="categories">
    <% @mains.each do |main| %>
      <li class="parents mt-3"><%= link_to main.category_name, category_path(main.id), class:"text-decoration-none fw-bold" %></li>
      <ul class="categories__children">
        <% main.children.each do |sub| %>
          <li class="children"><%= link_to sub.category_name, category_path(sub.id), class:"text-decoration-none fw-bold" %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
  
</main>
